.App-header {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color:#f7ebd9;
  height: 450px;
  width: 800PX;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.inside-container{
  height: 100px;
  width: 250px;
  background-color: white;
  border: 10px dotted #f3cf98;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
